.App {
  text-align: center;
}

.App-header {
  background-color: #5dadec;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 40px;
}

.form-body input {
  height: 23px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid darkcyan;
}

.divider {
  position: absolute;
  left: 50%;
  top: 10%;
  bottom: 10%;
  border-left: 1px solid white;
}

.solid {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.suggestion-content {
  text-align: left;
}
